<article>
    <section>
        <header>
            <h3>{{title}}</h3>
        </header>
        <p>{{content}}</p>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
        <form id="newCommentForm" class="card-body">
            <div>
                <textarea id="comment" placeholder="Leave a comment."></textarea>
            </div>
            <button type="submit" id="commentBtn" class="btn">Submit!</button>
        </form>
    </section>
    {{#each comments as |comment|}}
    <section>
        <header>
           Posted by {{user.username}} on {{format_date created_at}}
        </header>
        <p>{{comment.body}}</p>
    </section>
    {{/each}}
</article>

<script src="/js/comment.js"></script>