<article class="card">
    <a href="/api/posts/{{id}}">
        <header>
            <strong>{{title}}</strong>
            Posted by {{user.username}} on {{format_date created_at}}
        </header>
    </a>
    <p>{{content}}</p>
</article>