<article>
  <header>
    <a href="/dashboard/{{id}}">
      <strong>{{title}}</strong>
    </a>
    Posted by {{user.username}} on {{format_date created_at}}
  </header>
  <p>{{content}}</p>
</article>